@{
    ViewBag.Title = "Home Page";
    //Layout = "MyLayout.cshtml";
}
<br />

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-arrow-down"></span> Withdrawal</a>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-dollar"></span> Quick Cash $100</a>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-question"></span> Balance Inquiry</a>
        <br />
    </div>
    <div class="col-md-6 margin-top-20" >
        <a href="#" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-print"></span> Print Statement</a>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-money"></span> Transfer Funds</a>
        <a href="#" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-arrow-up"></span> Deposit</a>
    </div>
</div>

@*
You are using @Request.Browser.Browser, its seems OK..! Cheers... :) <br />
Email me at example@mvc.com if you have any problem. or send me a tweet @@hizqeelrz.
*@
@*m is used here as suffix so that the doubles in the decimal are not used or treated as doubles.*@

@*
@{var amounts = new List<Decimal>{100, 25.50m, -40, 278.65m};}
*@

@*

<ul>
    <br />
    @foreach (decimal amount in amounts)
    {
        <li>@formatAmount(amount)</li>
    }
</ul>
@helper formatAmount(decimal amount) { 
    var color = "green";

    if (amount < 0)
    {
        color = "red";
    }
    <span style="color: @color" >@String.Format("{0:c}", amount)</span>
    }
*@